body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px auto;
  font-family: sans-serif;
  margin: 20px;
  column-gap: 20px;
  background: linear-gradient(to top, red, yellow);
}
#title {
  grid-column: span 2;
  text-align: center;
}
.meal,
.cocktail {
  border: none;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.562);
  
}

.meal img,
.cocktail img {
  max-width: 250px;
  display: block;
  margin-top: 10px;
  transition: transform 0.5s ease; /* Smooth overgang */
  object-fit: cover;

  border-radius: 50% 10%;
  box-shadow: -5px -5px 40px rgba(255, 156, 7, 0.808);
}

.meal img:hover,
.cocktail img:hover{
  transform: scale(1.1);
}
